name: 'Travis CI replacement'

on:
  pull_request:
    branches:
    - '**'

jobs:
  build-job:
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        node-version: ['14.x', '16.x', '18.x', '20.x', '22.x']

    steps:
    - uses: 'actions/checkout@v2'

    - name: 'Use Node.js ${{ matrix.node-version }}'
      uses: 'actions/setup-node@v1'
      with:
        node-version: '${{ matrix.node-version }}'

    - name: 'Actual npm tasks'
      run: |
        npm install
        npm run test
